.heading {
    display: flex;
    font-weight: 800;
    margin: 2vh 0;
    font-size: 3vmax;
    position: relative;
    left: 0;
    z-index: 2;
    padding-right: 25px;
    z-index: 1;
    cursor: default;
    padding-top: 3vmax;

}

.heading span {
    display: block;
    position: relative;
    z-index: 2;
    padding-right: 1vmax;
    max-width: fit-content;
    background-color: var(--dblue);
    flex: 1;
}

.heading::after {
    content: '';
    height: 1px;
    border-radius: 20px;
    background-color: var(--lblue);
    opacity: 0.7;
    left: 0;
    position: absolute;
    z-index: 0;
    top: 5.4vmax;
    width: 88.5vw;
    z-index: 0;
}