.header {
    width: 100%;
    min-height: 100vh;
    padding: 0 5%;
    padding-top: 9.5vh;
    margin: 0 auto;
    display: flex;
    align-items: left;
    flex-direction: column;
    cursor: default;
    z-index: 50;
    background: linear-gradient(0deg, rgba(17, 43, 60, 1) 0%, rgba(255, 255, 255, 0.11) 100%);
    max-width: 100vw;
    box-sizing: border-box;

    h1 {
        font-size: 4vmin;
        width: 80%;
        font-weight: 800;
        color: var(--white);
        z-index: 2;
        top: 0;
    }

    h2 {
        font-size: 3vmin;
        text-align: left;
        width: 80%;
        font-weight: 600;
        color: rgba(255, 255, 255, 0.77);
        z-index: 2;


    }

    h1:after {
        content: '';
        display: block;
        width: 8%;
        margin: 0 auto;
        height: 5px;
        opacity: 1;
        background-color: var(--orange);
        position: absolute;
        left: 10%;
        transition: 0.3s linear;
        border-bottom-right-radius: 50px;
        border-top-right-radius: 50px;

    }

    h1:hover:after {
        max-width: 80vw;
        width: 80%;
        transition: 0.3s linear;
    }

    .header__name {
        z-index: 5;
    }


    .firstChildImg,
    .lastChildImg {
        position: absolute;
        max-height: 80vh;
        height: 80vh;
        margin: 0 auto;
        aspect-ratio: 5/6;
        top: 15%;
        right: 8%;
        background-size: cover;
        transition: 1s;

    }

    .firstChildImg {
        background-image: url('../../assets/sasha1sm.png');
        opacity: 1;
        z-index: 1;

    }

    .firstChildImg:hover {
        opacity: 0;
    }

    .lastChildImg {
        background-image: url('../../assets/sasha1sm-hover.png');
        opacity: 0;
        z-index: 0;
        border-top-right-radius: 50%;

    }

    .lastChildImg :hover {
        opacity: 1;
        z-index: 1;
    }



}

.header__quote {
    max-width: 60%;
    padding-left: 5%;
    min-width: 50%;
    z-index: 15;
    // background-image: url('../../assets/project1.png');
    background-size: cover;
    mix-blend-mode: lighten;

    p {
        font-size: 4vmin;
        width: 80%;
        color: var(--orange);
        letter-spacing: 0.3vw;
        z-index: 2;
        top: 0;
        font-family: var(--handwriting);

    }

    p:last-child {
        color: white;
        margin-top: 1vh;
    }
}

@media screen and (max-width:920px) {
    .header {
        padding-top: 8vh;
        max-height: 150vh;

        h1 {
            font-size: 35px;
        }

        h2 {
            font-size: 28px;
        }

        flex-direction: column;

        .header__quote {
            text-align: left;
            padding-left: 0;

            p {
                font-size: 40px;
            }
        }

        .firstChildImg {
            display: none;
        }

        .lastChildImg {
            min-width: 85vw;
            max-width: 100vw;
            right: 0;
            left: 0;
            margin: 0 auto;
            opacity: 1 !important;
        }
    }
}

@media screen and (max-width:700px) {
    .header {
        padding-top: 15vw;
        justify-content: center;

        h1 {
            margin: 15px 0;
        }

        h1:after {
            margin-top: 12px;
        }

        h2 {
            margin: 15px 0;
        }

        .lastChildImg {
            position: static;
            height: 50vh;
            margin-top: -5vh;
        }


    }

    .header__quote {
        min-width: 70vw;
        text-align: right;
        margin-right: 0;
        padding-right: 0;

        p {
            width: 110%;
        }
    }
}

@media screen and (max-width:400px) {
    .header {
        padding-top: 40px;
        max-height: 150vh;

        .header__quote {
            max-width: 100%;
        }
    }
}