.App:before {
    content: '';
    display: block;
    width: 100%;
    margin: 0 auto;
    height: 6vh;
    opacity: 1;
    background: linear-gradient(180deg, rgba(17, 43, 60, 1) 21%, rgba(17, 43, 60, 0) 100%);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 55;
    transition: opacity .2s linear;
}

html {
    scroll-behavior: smooth;
}