@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;600;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');

body {
  background-color: #112B3C;
}

* {
  color: rgb(226, 226, 226);
  font-family: var(--font-name);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font-name: 'Noto Sans', sans-serif;
  --orange: #F66B0E;
  --lblue: #205375;
  --dblue: #112B3C;
  --white: #dddddd;
  --paragraph: 20px;
  --paragraphAdaptive: 3.5vw;
  --width: 90%;
  --handwriting: 'Amatic SC', cursive;
  /* palette https://colorhunt.co/palette/112b3c205375f66b0eefefef */
}