.aboutMe {
    width: var(--width);
    margin: 0 auto;
    display: flex;
    flex-direction: column;

    .aboutMe__content {
        display: flex;
        flex-direction: row;
        min-height: 90vh;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        max-width: 900px;
        margin: 0 auto;

        p {
            display: inline;
            flex: 3;
            font-size: var(--paragraph);
            max-width: 45vw;
            max-height: 400px;
            line-height: 42px;

            span {
                display: inline-block;
                color: var(--orange);
                font-weight: 800;
            }
        }

        img {
            min-height: 300px;
            min-width: 300px;
            max-width: 60vmin;
            max-height: 60vmin;
            flex: 1;
            aspect-ratio: 1/1;
            position: relative;
            transition: 1s;
        }

    }
}

@media screen and (max-width:820px) {
    .aboutMe .aboutMe__content {
        flex-direction: column;
        min-height: 0;

        p {
            font-size: var(--paragraphAdaptive);
            max-height: 45vh;
            line-height: unset;
            min-width: 90vw;
        }
    }

}